$color1: #ECECEC;
$color2: #101010;
$color3: #7e8bd9;
$color4: #ffffff;

$trans-duration: 0.3s;

body {
    margin: 0;
    background-color: $color4;
    font-family: 'Roboto', sans-serif;
    line-height: 1.2;
    font-size: 35px;
}

.input {
    width: 100%;
    font-size: 1em;
    line-height: 1.2;
    outline: none;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid $color2;
    color: $color2;
}

.button {
    transition: color $trans-duration;
    cursor: pointer;
    width: 100%;
    height: 50px;
    margin-top: 15px;
    background-color: $color2;
    color: $color1;
    outline: none;
    border: none;
    font-size: 1em;
    text-transform: uppercase;

    &:hover {
        color: $color3;
    }
}

#root {
    max-width: 1200px;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color1;

    &__title {
        width: 100%;
        margin: 0;
        margin-bottom: 15px;
        font-size: 1.8em;
    }

    &__form {
        background-color: $color1;
        max-width: 500px;
        width: 100%;
        padding: 30px 20px;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: flex-start;
    }
}

.header {
    overflow: unset;
    padding: 0;
    background-color: $color2;
    color: $color1;
    box-sizing: border-box;
    max-width: 1200px;
    width: 100%;
    flex-grow: 0;

    &__title {
        font-size: 1em;
        margin-bottom: 0;
    }

    &__description {
        font-size: 0.7em;
    }
    
    &__nickname {
        display: block;
        padding: 0 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        font-style: italic;
        font-weight: bold;
        color: $color3;
        font-size: 0.7em;
    }

    &__column {
        min-width: 50%;
        max-width: 100%;
        width: 100%;
        box-sizing: border-box;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        padding: 5px 20px;
        padding-top: 0;

        &:last-child {
            flex-basis: 100%;
            padding: 0;
            justify-content: flex-start;
        }
    }
}

.log-out {
    cursor: pointer;
    transition: color $trans-duration;
    border: none;
    border-bottom: 1px solid $color2;
    outline: none;
    background-color: $color1;
    color: $color2;
    height: 45px;
    width: 100%;
    text-transform: uppercase;
    font-size: 0.5em;
    font-weight: 700;
    padding: 0;
    margin: 0;
    margin-top: 5px;
    display: block;

    &:hover {
        color: $color3;
    }
}

.button-upload {
    margin: 0 auto 30px;
    display: block;
    width: 300px;
}

.main {
    padding: 0;
    max-width: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: stretch;
    padding-bottom: 60px;
    box-sizing: border-box;
    flex-grow: 1;
    position: relative;
}

.chat {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    max-width: 1200px;
    max-height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    box-shadow: none;
    background-color: $color4;

    &__message-container {
        border: none;
        margin-bottom: 60px;
        padding: 20px;
    }

    &__input-fields {
        resize: vertical;
        font-size: 0.6em;
        resize: vertical;
        max-height: 60px;
        box-sizing: border-box;
        flex-basis: 80%;
        resize: none;
        border: none;
        padding: 10px;
    }

    &__send-button {
        flex-basis: 20%;
        font-size: 0.6em;
        height: 60px;
        margin: 0;
    }
    
    &__form {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        position: fixed;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        max-width: 1200px;
        width: 100%;
        background-color: $color4;
        border-top: 1px solid $color2;
    }
}

.message {
    margin-bottom: 30px;
    background-color: $color1;
    padding: 10px;
    box-sizing: border-box;

    &_user {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        * {
            width: 100%;
            text-align: end;
        }
    }

    &__nick-name {
        max-width: 100%;
        padding-right: 5px;
        box-sizing: border-box;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 0.7em;
        font-style: italic;
        color: $color3;
        display: block;
    }

    &__text-message {
        font-size: 0.8em;
        margin: 0;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__date {
        font-size: 0.5em;
        line-height: 1;
        display: block;
    }

    &:last-child {
        margin-bottom: 0;
    }
}




